# Python
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
venv/
.venv/
env/

# Variables d'environnement
.env
.env.*

# Buildozer / Kivy
.buildozer/
bin/

# IDE
.vscode/
.idea/

# Logs
*.log
